<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="300; url=/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title%></title>
<%- include include_style.ejs %>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="\"><span>Node</span>Admin</a>
				<% if(user){ %>
					<ul class="user-menu">
						<li class="dropdown pull-right">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span>
								<% if(user.name){ %>
									<%= user.name %>
								<% } %>
							<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/logout"><span class="fa fa-hand-paper-o"></span> Logout</a></li>
							</ul>
						</li>
				    </ul>
				<% } %>

			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<!--<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>-->
		<ul class="nav menu">

			<li class="active">

			<a href="/"><span class="fa fa-table"></span> Data Table</a></li>
		</ul>
	</div><!--/.sidebar-->

<!-- main start-------------------------------------------------------------------------------------------------------- -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-md-12">
                  <div >
                      <button type="button" id="back" name="back" class="btn btn-primary btn-sm" onClick="back()">
                            <img src="/icons/back.png" width="ˇ30" height="30"/> Back
                        </button>
                  </div>

                <div  class="col-md-12" style="margin-top: -10px;">

                    <h2>Mac:<%= mac%></h2>
                </div>

                <div class="col-md-12">